body {
    font-family: 'Raleway', sans-serif;
    background-color: #00285D;
    color:white;
}


.main-title {
    font-size: 300%;
    font-weight: 900;
    text-shadow: -2px 0 rgba(34, 99, 196, 0.8), 0 2px rgba(34, 99, 196, 0.8) 2px 0 rgba(34, 99, 196, 0.8), 0 -2px rgba(34, 99, 196, 0.8);
  }

.navbar-bg {
    background: whitesmoke;
}

/*Form di Login*/
.myFormDiv {
    font-weight: bold;
}

button{
    font-family: 'Karla', sans-serif;
  }
  
  .btn-blue {
    background-color: #154b92;
    border-color: #0F4284;
    color: white;
}

.btn-blue:hover{
    background-color: #0c2e5c;
    color: white;
}
