body {
    background-color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


#homeTitle {
    font-size: 300%;
    font-weight: bold;
    color: #86afb9;
    text-shadow: 3px 3px 5px #082b34;
}

.navbar-bg {
    background-color: #000000;
    color: #86afb9;
}


#mainPart {
    background-image: url('./images/happy-people-2.1.jpg');
    background-position-x: center;
    background-repeat: no-repeat;
    color: #FFFFFF;    
    height: 1050px;
}


/*Celle di testo*/
.myCell {
    margin: 5% 10%;
    padding: 10px;
    border-color: white;
    border-style: solid;
    background-color: rgba(54, 50, 50, 0.5);
    width: 500px;
    height: 200px;
    font-size: 200%;
    text-align: center;
    transition:all 0.3s ease;
}

.myCell:hover {
    transform: scale(1.1);
}

#altoSin {
    position: relative;
    left:0px; 
}
#bassoDx {
    position: absolute;
    right:0px; 
}

/*Form di Login*/
.myFormDiv {
    display: none;
    position: fixed;
    top: 20%;
    left: 40.2%;
    border: 7px outset #f1f1f1;
    width: 20%;
    z-index :9
}


h4 {
    text-align: center;
}
.myForm {
    padding: 4%;
    background-color: white;
    color: black;
}
