body {
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(0,41,93,1) 56%, rgba(31,94,175,1) 100%);
    color:initial;
    max-height: 100%;
}

.navbar-bg {
    height: 11.5%;
}

#bentornato {
    font-size: 80%;
}

.myFull {
    height: 87.5vh;
    width: 40% !important;
    background-color: rgba(255,255,255,0.6);
}

.w-60 {
    width: 60% !important;
}

.my-custom-scrollbar {
    position: relative;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

#divEvento, .table[id="infoTable"] {
    color: white;
}

.infoRow:hover {
    background-color: rgba(255, 255, 255, 0.589);
    color: rgb(19, 67, 170);
}
