html,body {
    font-family: 'Pangolin', cursive;
    max-height: 100%;
}


#homeTitle {
    font-size: 300%;
    font-weight: bold;
    color: #86afb9;
    text-shadow: 3px 3px 5px #082b34;
}

.navbar-bg {
    background-color: #000000;
    color: #86afb9;
    height: 15vh;
}


.myFull {
    height: 85vh;
}

.my-custom-scrollbar {
    position: relative;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}