.main-title {
    font-size: 350%;
}

th,td,h3 {
    font-size:30px;
}

th {
    width: 40%;
}

td {
    width: 60%;
}

#divEvento, .table[id="infoTable"] {
    color: white;
}

.infoRow:hover {
    background-color: rgba(255, 255, 255, 0.603);
    color: rgb(19, 67, 170);
}